<app-toolbar></app-toolbar>

<!--FORMULÁRIO DE CADASTRO DE CARTÃO-->

<body>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cadastrar novo cartão</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="cadastroCartao">
                <div class="formulario">
                    <mat-form-field>
                        <mat-label>Nome do titular:</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="nome" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Número:</mat-label>
                        <input autocomplete="off" matInput type="number" formControlName="numero" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Modalidade:</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="modalidade" required />
                    </mat-form-field>
                
                    <mat-checkbox formControlName="bancoCadastrado" [(ngModel)]="temBanco" color='primary'>Este cartao tem banco cadastrado</mat-checkbox>

                    <mat-form-field *ngIf="temBanco">
                        <mat-label>Nome da Agência Bancária:</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="banco" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Data do vencimento da fatura:</mat-label>
                        <input autocomplete="off" matInput type="date" formControlName="vencimentoFatura" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Validade:</mat-label>
                        <input autocomplete="off" matInput type="month" formControlName="validade" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Código de segurança:</mat-label>
                        <input autocomplete="off" matInput type="number" formControlName="codigo" required />
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="salvar()">Salvar</button>
        </mat-card-actions>
    </mat-card>

</body>