<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="cadastro-cartao.component.css">
    <title>Cadastro de Cartão</title>
</head>

<body>
    <div class="container">
        <div class="content">
               

            <!--FORMULÁRIO DE CADASTRO DE CARTÃO-->
            <div id="cadastro-cartao">
                <form method="post" action="">
                    <div id="inputs_texto">
                        <h1>Cadastro de cartão</h1>
                        <p>
                            <label for="titular-cartao">Nome do titular</label>
                            <input id="titular_cartao" name="titular_cartao" required="required" type="text"
                                placeholder="Nome do titular gravado no cartão" />
                        </p>

                        <p>
                            <label for="numero_cartao">Numero do cartão</label>
                            <input id="numero_cartao" name="numero_cartao" required="required" type="text"
                                placeholder="Numero gravado no cartão" />
                        </p>

                        <p>
                            <label for="banco_cartao">Agência Bancária</label>
                            <input id="banco_cartao" name="banco_cartao" type="text"
                                placeholder="Insira o banco (opcional)" />
                        </p>

                        <p>
                            <label for="validade_cartao">Data de validade</label>
                            <input id="validade_cartao" name="validade_cartao" required="required" type="month"
                                placeholder="Insira a data de validade" />
                        </p>

                        <p>
                            <label for="titular-cartao">Código de Segurança</label>
                            <input id="codigo_cartao" name="codigo_cartao" required="required" type="password"
                                placeholder="Insira o codigo de segurança no verso do cartão" />
                        </p>
                    </div>

                    <p>
                        <input type="submit" value="Salvar" />
                    </p>

                    </p>
                </form>
            </div>
        </div>
    </div>

</body>

</html>