<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="cadastro-conta-corrente.component.css">
    <title>Cadastro de Conta Corrente</title>
</head>

<body>
    <div class="container">
        <div class="content">
               

            <!--FORMULÁRIO DE CADASTRO DE CONTA CORRENTE-->
            <div id="cadastro-conta-corrente">
                <form method="post" action="">
                    <div id="inputs_texto">
                        <h1>Cadastro de conta corrente</h1>
                        <p>
                            <label for="nome_agencia">Agência Bancária</label>
                            <input id="nome_agencia" name="nome_agencia" required="required" type="text"
                                placeholder="Nome da Agência Bancária" />
                        </p>

                        <p>
                            <label for="nome_titular">Titular da conta</label>
                            <input id="nome_titular" name="nome_titular" required="required" type="text"
                                placeholder="Nome do titular da conta" />
                        </p>

                        <p>
                            <label for="banco_cartao">Agência</label>
                            <input id="numero_agencia" name="numero_agencia" required="required" type="text"
                                placeholder="Código da Agência Bancária" />
                        </p>

                        <p>
                            <label for="numero_conta">Número da conta</label>
                            <input id="numero_conta" name="numero_conta" required="required" type="text"
                                placeholder="Número da conta corrente" />
                        </p>
                    </div>

                    <p>
                        <input type="submit" value="Salvar" />
                    </p>

                </form>
            </div>
        </div>
    </div>

</body>

</html>
