<h1 mat-dialog-title>Adicionar Transação</h1>
<div mat-dialog-content>
    <form [formGroup]="adicionaForm">
        <div style="display: flex; flex-direction: row;">
            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Descrição</mat-label>
                <input matInput type="text" formControlName="descricao">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Valor</mat-label>
                <input matInput type="text" formControlName="valor">
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row;">
            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Método</mat-label>
                <mat-select formControlName="metodo">
                    <mat-option *ngFor="let opcao of metodoPagamento" [value]="opcao">
                        {{opcao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Data</mat-label>
                <input matInput type="date" formControlName="data">
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="fechar()">Cancelar</button>
    <button mat-button (click)="salvar()">Salvar</button>
</div>