<app-toolbar-login></app-toolbar-login>
<body>
<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="login">
            <div class="formulario">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input autocomplete="off" matInput type="text" formControlName="email" required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input autocomplete="off" matInput type="password" formControlName="senha" required />
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="entrar()">Entrar</button>
        <a id="linkCadastro" routerLink="/cadastro-usuario">Cadastrar-se</a>
        <a id="linkSenha" routerLink="/#">Esqueci minha senha</a>
    </mat-card-actions>
</mat-card>
</body>

<app-footer></app-footer>