<app-toolbar></app-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Transações - {{mesTela}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="filtro">
      <h1 style="margin-right: 0.5%;">Filtrar</h1>
      <mat-form-field appearance="fill" style="margin-right: 0.5%;">
        <mat-label>Mês</mat-label>
        <mat-select [(ngModel)]="filtrarValue" [disabled]="!btnFiltrar">
          <mat-option *ngFor="let mes of meses" [value]="mes.id">
            {{mes.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button *ngIf="btnFiltrar" mat-fab class="btnFiltrar" #tooltip="matTooltip" matTooltip="Filtrar" matTooltipPosition="right" (click)="filtrar()">
        <mat-icon class="iconPesquisar">search</mat-icon>
      </button>
      <button *ngIf="!btnFiltrar" mat-fab class="btnRemoveFiltro" #tooltip="matTooltip" matTooltip="Remover Filtro" matTooltipPosition="right" (click)="filtrar()">
        <mat-icon class="iconPesquisar">close</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.valor | currency: 'R$'}} </td>
      </ng-container>

      <ng-container matColumnDef="metodo">
        <th mat-header-cell *matHeaderCellDef> Método </th>
        <td mat-cell *matCellDef="let element"> {{element.metodo}} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of element.tag">
              {{tag.nome}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="detalhes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="openEditarDialog(element)">edit</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="deletar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="deletarTransacaoDialog(element.id,element.descricao)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <div style="display: flex; flex-direction: row;">
      <h2>Total gasto: {{totalGasto | currency: 'R$'}}</h2>
      <h2>Total ganho: {{totalGanho | currency: 'R$'}}</h2>
    </div>
    <button mat-raised-button (click)="novaTransacaoDialog()" class="btnSalvar">Adicionar</button>
  </mat-card-actions>

</mat-card>
<app-footer></app-footer>