table {
    width: 100%;
  }

  td{
    color: black;
    font-size: large;
  }
  
  th{
    color: black;
    font-size: large;
  }

  .mat-icon{
    color: #fca311;
    cursor: pointer;
  }

  .btnSalvar {
    width: 8%;
    background: #fca311;
}

h2 {
  margin-left: 0.5%;
}