<app-toolbar></app-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Transações</mat-card-title>
    <mat-card-title>{{meses[mes].nome}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.valor | currency: 'R$'}} </td>
      </ng-container>

      <ng-container matColumnDef="metodo">
        <th mat-header-cell *matHeaderCellDef> Método </th>
        <td mat-cell *matCellDef="let element"> {{element.metodo}} </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of element.tag">
              {{tag.nome}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="detalhes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="openEditarDialog(element)">edit</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="deletar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="deletarTransacaoDialog(element.id,element.descricao)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <div style="display: flex; flex-direction: row;">
      <h2>Total gasto: {{totalGasto | currency: 'R$'}}</h2>
      <h2>Total ganho: {{totalGanho | currency: 'R$'}}</h2>
    </div>
    <button mat-raised-button (click)="novaTransacaoDialog()" class="btnSalvar">Adicionar</button>
  </mat-card-actions>

</mat-card>