<h1 mat-dialog-title>Detalhes</h1>
<div mat-dialog-content>
    <form [formGroup]="cadastroCartao">
        
            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Apelido</mat-label>
                <input matInput type="text" placeholder="ex: Cartão Nubank, Itáu" formControlName="nome">
                <mat-error>Campo Obrigatório!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Titular</mat-label>
                <input matInput type="text" formControlName="titular">
                <mat-error>Campo Obrigatório!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Numero</mat-label>
                <input matInput type="text" formControlName="numero">
                <mat-error>Campo Obrigatório!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Modalidade</mat-label>
                <mat-select formControlName="modalidade">
                    <mat-option *ngFor="let opcao of modalidadeCartao" [value]="opcao">
                        {{opcao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-checkbox appearance="fill" style="margin-bottom: 5%;" formControlName="bancoCadastrado" (change)="validaBanco()" [(ngModel)]="temBanco" color='primary'>Este cartão tem banco cadastrado</mat-checkbox>

            <mat-form-field *ngIf="temBanco" appearance="fill" style="margin-right: 5%;">
                <mat-label *ngIf="qtdBanco">Banco</mat-label>
                <mat-label *ngIf="!qtdBanco">Sem Bancos Cadastrados</mat-label>
                <mat-select [disabled]="!qtdBanco" formControlName="bancoid">
                    <mat-option>Nenhum</mat-option>
                    <mat-option *ngFor="let banco of data" [value]="banco.id">
                        {{banco.banco}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="!temBanco" appearance="fill" style="margin-right: 5%;">
                <mat-label>Nome da Agência Bancária:</mat-label>
                <input autocomplete="off" matInput type="text" formControlName="banco" required />
            </mat-form-field>

            <mat-form-field appearance="fill"> 
                <mat-label>Dia do vencimento da fatura:</mat-label>
                <input autocomplete="off" matInput type="number" min="1" max="31" formControlName="vencimentoFatura" required />
                <mat-error>Insira um número de 1 a 31</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Validade:</mat-label>
                <input autocomplete="off" matInput type="month" formControlName="validade" required />
                <mat-error>Campo Obrigatório!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Código de segurança:</mat-label>
                <input autocomplete="off" matInput type="number" formControlName="codigo" required />
                <mat-error>Campo Obrigatório!</mat-error>
            </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="fechar()">Cancelar</button>
    <button mat-button (click)="salvar()">Salvar</button>
</div>