<app-toolbar></app-toolbar>

<!--FORMULÁRIO DE CADASTRO DE USUÁRIO-->

<body>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Criar nova conta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="cadastroUsuario">
                <div class="formulario">
                    <mat-form-field>
                        <mat-label>Nome:</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="nome" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Sobrenome:</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="sobrenome" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email:</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="email" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Salário:</mat-label>
                        <input autocomplete="off" matInput type="number" formControlName="salario" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Porcentagem a guardar:</mat-label>
                        <input autocomplete="off" matInput (change)="calculaPorcentagem()" type="number" formControlName="porcentagem" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Valor reservado:</mat-label>
                        <input autocomplete="off" matInput formControlName="valorReservado" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Senha:</mat-label>
                        <input autocomplete="off" matInput type="password" formControlName="senha" required />
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="salvar()">Salvar</button>
            <a routerLink="/login">Retornar a tela de login</a>
        </mat-card-actions>
    </mat-card>

</body>