mat-card{
    width: 40%;
    size: 200%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background: #ffff;
    --amarelo: #fca311;
    --cinza: #e5e5e5;
    --azul: #14213d;
    border: #14213d;
    border-radius: 10px;
}

.mat-card-header .mat-card-title {
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 5%;
}

.mat-card-header{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
}

button:hover{
    filter:brightness(90%);
}

a:hover {
    color: var(--amarelo);
    background: #f7f7f7;
}

mat-card-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button{
    width: 60%;
    background: var(--amarelo);
}

form{
    width: 100%;
    size: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}