<h1 mat-dialog-title>Detalhes</h1>
<div mat-dialog-content>
    <form [formGroup]="cadastroCartao">
        
            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Nome</mat-label>
                <input matInput type="text" [(ngModel)]="data.nome" formControlName="nome">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Numero</mat-label>
                <input matInput type="text" [(ngModel)]="data.numero" formControlName="numero">
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Modalidade</mat-label>
                <mat-select formControlName="modalidade" [(ngModel)]="data.modalidade">
                    <mat-option *ngFor="let opcao of modalidadeCartao" [value]="opcao">
                        {{opcao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-checkbox appearance="fill" style="margin-bottom: 5%;" formControlName="bancoCadastrado" [(ngModel)]="temBanco" color='primary'>Este cartao tem banco cadastrado</mat-checkbox>

            <mat-form-field *ngIf="temBanco" appearance="fill" style="margin-right: 5%;">
                <mat-label>Nome da Agência Bancária:</mat-label>
                <input autocomplete="off" matInput type="text" formControlName="banco" [(ngModel)]="data.banco" required />
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin-right: 5%;"> 
                <mat-label>Data do vencimento da fatura:</mat-label>
                <input autocomplete="off" matInput type="date" formControlName="vencimentoFatura" [(ngModel)]="data.vencimentoFatura" required />
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Validade:</mat-label>
                <input autocomplete="off" matInput type="month" formControlName="validade" [(ngModel)]="data.validade" required />
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin-right: 5%;">
                <mat-label>Código de segurança:</mat-label>
                <input autocomplete="off" matInput type="number" formControlName="codigo" [(ngModel)]="data.codigo" required />
            </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="fechar()">Cancelar</button>
    <button mat-button (click)="salvar()">Salvar</button>
</div>