<app-toolbar></app-toolbar>

<!--TELA DE GERENCIAMENTO DE CONTA-->

<body>
    <div class="conteudo">

        <div class="lado2">
            <mat-tab-group color="primary">


                <mat-tab label="Meus Dados">
                    <form [formGroup]="gerenciaConta">
                        <div class=" formulario">
                            <mat-form-field>
                                <mat-label>Nome:</mat-label>
                                <input autocomplete="off" (change)="mostraSalvar()" matInput formControlName="nome" type="text" [(ngModel)]="usuario.nome" required />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Sobrenome:</mat-label>
                                <input autocomplete="off" (change)="mostraSalvar()" matInput formControlName="sobrenome" type="text" [(ngModel)]="usuario.sobrenome" required />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Email:</mat-label>
                                <input autocomplete="off" (change)="mostraSalvar()" matInput formControlName="email" type="text" [(ngModel)]="usuario.email" required />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Salário:</mat-label>
                                <input autocomplete="off" (change)="calculaPorcentagem()" matInput formControlName="salario" type="number" [(ngModel)]="usuario.salario" required />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Porcentagem a guardar:</mat-label>
                                <input autocomplete="off" (change)="calculaPorcentagem()" matInput formControlName="porcentagem" type="text" [(ngModel)]="usuario.porcentagem" required />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Valor reservado:</mat-label>
                                <input autocomplete="off" (change)="mostraSalvar()" matInput formControlName="valorReservado" [(ngModel)]="usuario.valorReservado" />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Senha:</mat-label>
                                <input autocomplete="off" (change)="mostraSalvar()" matInput formControlName="senha" type="password" [(ngModel)]="usuario.senha" required />
                            </mat-form-field>

                        </div>
                        <mat-card-actions>
                            <button mat-raised-button [disabled]="!updateButton" (click)="salvar()" class="btnSalvar">Salvar alterações</button>
                        </mat-card-actions>
                    </form>
                </mat-tab>

                <!--CARTÕES CADASTRADOS------------------------------------------------------------------>

                <mat-tab label="Cartões Cadastrados">

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Cartões</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <table mat-table [dataSource]="dadosCartao" class="mat-elevation-z8">

                                <ng-container matColumnDef="nome">
                                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                                </ng-container>

                                <ng-container matColumnDef="numero">
                                    <th mat-header-cell *matHeaderCellDef> Número </th>
                                    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
                                </ng-container>

                                <ng-container matColumnDef="modalidade">
                                    <th mat-header-cell *matHeaderCellDef> Modalidade </th>
                                    <td mat-cell *matCellDef="let element"> {{element.modalidade}} </td>
                                </ng-container>

                                <ng-container matColumnDef="detalhes">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon (click)="openDetalhesCartao(element)">edit</mat-icon>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="deletar">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon>delete</mat-icon>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="tabelaCartao"></tr>
                                <tr mat-row *matRowDef="let row; columns: tabelaCartao;"></tr>
                            </table>
                        </mat-card-content>
                        <mat-card-actions class="btnCard">
                            <button mat-raised-button class="btnAdicionar">Adicionar</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-tab>

                <!----BANCOS CADASTRADOS------------------------------------------------------------------>

                <mat-tab label="Bancos Cadastrados">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Bancos</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table mat-table [dataSource]="dadosBanco" class="mat-elevation-z8">

                                <ng-container matColumnDef="banco">
                                    <th mat-header-cell *matHeaderCellDef> Nome do Banco </th>
                                    <td mat-cell *matCellDef="let element"> {{element.banco}} </td>
                                </ng-container>

                                <ng-container matColumnDef="agencia">
                                    <th mat-header-cell *matHeaderCellDef> Nº da Agencia </th>
                                    <td mat-cell *matCellDef="let element"> {{element.agencia}} </td>
                                </ng-container>

                                <ng-container matColumnDef="conta">
                                    <th mat-header-cell *matHeaderCellDef> Conta </th>
                                    <td mat-cell *matCellDef="let element"> {{element.conta}} </td>
                                </ng-container>

                                <ng-container matColumnDef="detalhes">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon (click)="openDetalhesBanco(element)">edit</mat-icon>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="deletar">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon>delete</mat-icon>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="tabelaBanco"></tr>
                                <tr mat-row *matRowDef="let row; columns: tabelaBanco;"></tr>
                            </table>
                        </mat-card-content>
                        <mat-card-actions class="btnCard">
                            <button mat-raised-button class="btnAdicionar">Adicionar</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-tab>

  <!----TAGS CADASTRADAS------------------------------------------------------------------>

                <mat-tab label="Tags Cadastradas">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Tags</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table mat-table [dataSource]="dadosTag" class="mat-elevation-z8">

                                <ng-container matColumnDef="nome">
                                    <th mat-header-cell *matHeaderCellDef> Nome da tag </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                                </ng-container>

                                <ng-container matColumnDef="tipo">
                                    <th mat-header-cell *matHeaderCellDef>Tipo da tag</th>
                                    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="tabelaTag"></tr>
                                <tr mat-row *matRowDef="let row; columns: tabelaTag;"></tr>
                            </table>
                        </mat-card-content>
                        <mat-card-actions class="btnCard">
                            <button mat-raised-button class="btnAdicionar">Adicionar</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>

    <div class="lado1">

    </div>


</body>