.example-spacer {
    flex: 1 1 auto;
  }
  
.mat-toolbar{
  color: #fca311;
  background-color: #14213d;
}

.logo {
  font-size:xx-large;
  margin-right: 2%;
  margin-left: 1%;
}

.item:hover{
  color: #fca311;
}

.item {
  color: white;
  margin-left: 1.5%;
}

span {
  cursor: pointer;
 }