.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  .mat-h1{
      margin: 1.5%;
      font-size: 24px;
      font-weight: 500;
  }

  .saldo-total{
    margin-top: 7% !important;
    margin-left: 5% !important;
    margin-bottom: 7% !important;
  }

 .mat-card-actions{
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 1%;
   font-size:small;
 }

 .mat-card-content{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
   margin-right: 8%;
   margin-bottom: 7%;
 }

 .mat-card-header{
   margin-left: 2%;
 } 

 .grid-container{
  min-height: 76vh;
}

.saldo-total{
  font-size: xx-large !important;
}

.mat-card-title{
  font-size:  larger;
}

app-footer{
  position:fixed bottom;
}