<app-toolbar></app-toolbar>
<div class="grid-container">
    <h1 class="mat-h1">Olá, {{usuario.nome}} !</h1>
    <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile *ngFor="let card of cards1 | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card1-content">
                    <mat-card-title class="saldo-total">{{card.content}}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>{{card.msg}}</mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards2 | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div *ngIf="card.id == 1"><app-pie-chart></app-pie-chart></div>
                    <div *ngIf="card.id == 2">teste</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>