.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  .mat-h1{
      margin: 1.5%;
      font-size: 24px;
      font-weight: 500;
  }

  .saldo-total{
    margin-top: 7% !important;
    margin-left: 5% !important;
    margin-bottom: 7% !important;
  }

 .mat-card-actions{
   margin-left: 5%;
 }
  